body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Satoshi, sans-serif;
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.background-video {
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  object-fit: cover;
  z-index: -1;
  filter: blur(1vh);
  transition: 
    filter 1s ease, 
    top 0.5s ease, 
    left 0.5s ease, 
    width 0.5s ease, 
    height 0.5s ease;
}

.background-video.unblur {
  filter: blur(0);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.unlock-background {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  transition: opacity 1s ease;
}

.unlock-background.hidden {
  opacity: 0;
  pointer-events: none;
}

.unlock-text {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 1px 0px 30px white;
}

.main-div {
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: opacity 1s ease;
}

.main-div.show {
  opacity: 1;
}

.profile-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.07);
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
  overflow: hidden;
  backdrop-filter: blur(6px);
  pointer-events: none;
  z-index: 5;
}

.profile-card {
  align-items: center;
  display: flex;
  height: 74px;
  width: 256px;
  padding: 10px;
  column-gap: 10px;
}

.profile-pic-container {
  position: relative;
  width: 70px;
  height: 70px;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.status-icon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 17px;
  height: 17px;
  object-fit: cover;
  pointer-events: all;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.profile-name {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  font-size: 18.5px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username-badge {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* Discord Button */
.discord-button {
  position: fixed;
  top: calc(50% + 90px); /* 50% center + card half-height + spacing */
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 36px;
  height: 36px;
  z-index: 5;
  transition: width 0.25s ease, height 0.25s ease;
}

.discord-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discord-button:hover {
  width: 40px;
  height: 40px;
}