 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-1 .u-text-1 {
  font-family: "Gloria Hallelujah";
  margin: 465px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 1602px;
}

.u-section-2 .u-text-1 {
  font-family: "Gloria Hallelujah";
  margin: 19px auto 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 19px;
  margin-top: 19px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 1493px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-3 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-4 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-5 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-6 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-7 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-8 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-17 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-9 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-19 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 10px 2px;
}

.u-section-2 .u-text-20 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0 138px;
}

.u-section-2 .u-image-10 {
  width: 100px;
  height: 100px;
  margin: -32px auto 0 19px;
}

.u-section-2 .u-text-21 {
  font-weight: 400;
  margin: -68px 0 0 138px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1603px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1289px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -22px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: -64px;
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 129px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 129px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 19px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -32px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-left: 110px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-16 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-18 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-top: -73px;
    margin-left: 110px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    margin-top: -73px;
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-15 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-17 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-19 {
    margin-top: -63px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-21 {
    margin-top: -63px;
    margin-left: 100px;
  }
}